---
import Layout from '@layouts/Layout.astro';
import Nav from '@components/Nav.astro';
import Hero from '@components/Hero.astro';
import Expertise from '@components/Expertise.astro';
import Services from '@components/Services.astro';
import Why from '@components/Why.astro';
import Clients from '@components/Clients.astro';
import Vision from '@components/Vision.astro';
import Founder from '@components/Founder.astro';
import Contact from '@components/Contact.astro';
import Footer from '@components/Footer.astro';

export const prerender = true;
---

<Layout>
  <Nav />

  <main id="top">
    <Hero />
    <Expertise />
    <Services />
    <Why />
    <Clients />
    <Vision />
    <Founder />
    <Contact />
  </main>

  <Footer />
</Layout>
